*{
    padding: 0;
    margin: 0;
}
:root {
    --font_size: 14px;
    --pale_blue: hsl(243, 100%, 93%);
    --grayish_blue: hsl(229, 7%, 55%);
    --dark_blue: hsl(228, 56%, 26%);
    --gradient1: hsl(6, 100%, 80%);
    --gradient2: hsl(335, 100%, 65%);
    --very_dark_blue: hsl(229, 57%, 11%);
}
body{
    font-family: "Raleway", sans-serif;
    background: url(/images/bg-mobile.png);
}
.wrapper{
    padding: 0 20px;
}
.box{
    background: var(--dark_blue);
    border-radius: 10px;
}
.propaganda{
    margin: 120px 0px 15px 0px ;
    padding: 40px;
    border-top-right-radius: 100px;
}
.logo{
    padding-bottom: 30px ;
}
.icons{
    display: flex;
}
.icon{
    display: flex;
    align-items: center;
    background: var(--very_dark_blue);
    padding: 12px;
    border-radius: 10px;
    margin-right: 20px;
}
meter{
    width: auto;
    height: 40px;
    position: relative;
}
meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 50px -50px #999 inset;
    background-image: linear-gradient(to right, var(--gradient1) 0%, var(--gradient2) 100%);
    background-size: 100% 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
}
meter::after{
    content: "";
    display: block;
    width: 13px;
    position: absolute;
    top: 13px;
    border-radius: 50%;
    right: 52px;
    height: 13px;
    background: white;
}
meter::-webkit-meter-bar {
    background:var(--very_dark_blue);
}
.storage{
    padding: 40px 0 50px 0;
    color: white;
    font-size: var(--font_size);
}
.storage span{
    font-weight: bold;
}
.parrafo{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 0 2.5em;
    width: auto;
}
.medidor{
    display: flex;
    justify-content: space-between;
}
.medidor li{
    list-style: none;
    font-size: var(--font_size);
}
.almacenamiento-restante{
    background-color: white;
    color: var(--very_dark_blue);
}